
# .editorconfig 文件
# - 作用：统一编辑器默认的代码格式
# - 使用：VS Code中安装EditorConfig for VS Code插件

root = true # 表示是最顶层的配置文件，为true则会停止查找.editorconfig文件

[*] # 表示适用所有文件，不指定文件类型，[*.{ts}] 表示指定ts文件
charset = utf-8 # 编码格式
indent_style = space # 表示按tab键会插入空格
indent_size = 2 # 表示缩进宽度，indent_style为space，则插入2个空格
end_of_line = lf # 表示换行符
insert_final_newline = true # true表示文件以空白行结尾
trim_trailing_whitespace = true # true表示去除换行行首的任意空白字符

[*.md]
trim_trailing_whitespace = false
